<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Component Playground</title>
  </head>
  <body>
    <!-- These credentials are example. Fill with those in the flask server -->
    <div
      id="com-app"
      data-bot-username="@Occulteirbot"
      data-bot-link="https://t.me/Occulteirbot"
    ></div>
    <script type="module" src="/main.ts"></script>
  </body>
</html>
