@font-face {
  font-family:tgico;
  src:url(../assets/tgico.ttf) format("truetype"),
  url(../assets/tgico.woff) format("woff"),
  url(../assets/tgico.svg) format("svg");
  font-weight:400;
  font-style:normal;
  font-display:block
}

.telegram-bubble-content-wrapper {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  font-family: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: min(100%, 480px);
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)
}

.telegram-bubble-content {
  background-color: rgb(255, 255, 255);
  border-end-end-radius: 15px;
  border-end-start-radius: 0px;
  border-start-end-radius: 15px;
  border-start-start-radius: 5px;
  box-shadow: rgba(16, 35, 47, 0.15) 0px 1px 2px 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 100%;
  min-width: 56px;
  position: relative;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  user-select: text;
  z-index: 2
}

.telegram-message-wrapper {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 5px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  max-width: 100%;
  position: relative;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  text-wrap-mode: wrap;
  unicode-bidi: plaintext;
  word-break: break-word
}

.telegram-message {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  text-wrap-mode: wrap;
  word-break: break-word
}

.telegram-message blockquote {
	background-color: rgba(214, 119, 34, 0.1);
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 2px;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 1px;
	padding-inline-end: 18px;
	padding-inline-start: 9px;
	padding-left: 9px;
	padding-right: 18px;
	padding-top: 1px;
	position: relative;
	scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	text-wrap-mode: wrap;
	unicode-bidi: plaintext;
	vertical-align: bottom;
	word-break: break-word;
}

.telegram-message blockquote::before {
  content: " ";
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  bottom: 0;
  flex: 0 0 auto;
  width: .1875rem;
  background: rgb(214, 119, 34);
  z-index: 1;
}

.telegram-message blockquote::after {
  content: "";
  font-family: tgico !important;
  position: absolute;
  top: .125rem;
  inset-inline-end: .1875rem;
  color: rgb(214, 119, 34);
  font-size: 78.571428%;
  line-height: 1;
}

.telegram-message code {
  color: rgb(214, 119, 34);
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
}

.telegram-message pre {
  background-color: rgba(214, 119, 34, 0.1);
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.3833px;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 4px;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  text-wrap-mode: wrap;
  word-break: break-word
}

.telegram-message pre::before {
  content: " ";
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  bottom: 0;
  flex: 0 0 auto;
  width: .1875rem;
  background: rgb(214, 119, 34);
  z-index: 1;
}

.telegram-message pre code.hljs {
  color: rgb(0, 0, 0);
  background-color: unset;
  line-height: 19px;
  display: block;
  padding: .25rem .625rem;
}

.telegram-message .spoiler {
  background-color: rgb(217, 217, 217);
}

.telegram-message .code-header {
  background-color: rgba(214, 119, 34, 0.2);
  color: rgb(214, 119, 34);
  font-family: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-inline-end: .0625rem !important;
  cursor: pointer;
  line-height: 1;
  padding: .0625rem .625rem;
}

.telegram-message .code-header-name {
  flex: 1 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.telegram-message .code-header-button {
  font-family: tgico !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 18px;
  pointer-events: all;
  border-radius: 50%;
  padding: .25rem;
}
